<div class="d-flex col-7 nopadding">
  <span class="lib mr-auto">Saison en cours    : </span>
  <button (click)="moinsSerie()" type="button" class="action">-</button>
  <span class="nb">{{nbSerie}}</span>
  <button (click)="plusSerie()" type="button" class="action">+</button>
</div>
<div class="d-flex col-7 nopadding">
  <span class="lib mr-auto">Dernier Episode vu : </span>
  <button (click)="moinsEpisode()" type="button" class="action">-</button>
  <span class="nb">{{nbEpisode}}</span>
  <button (click)="plusEpisode()" type="button" class="action">+</button>
</div>
