button.action{
    background: rgba(0,0,0,0.2);
    border-radius: 0.5em;

}

.paragraphe{
    align-content: space-around;
}

.nb {
    padding-left: 1%;
    padding-right: 1%;
}

.lib{
    text-align: left;
    padding: 0;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
