  <p>
    <span class="lib">Saison en cours    : </span> 
    <button (click)="moinsSerie()" type="button" class="action">-</button>
    <span class="nb">{{nbSerie}}</span>
    <button (click)="plusSerie()" type="button" class="action">+</button>
  </p>
<p>
    <span class="lib">Dernier Episode vu : </span> 
    <button (click)="moinsEpisode()"type="button" class="action">-</button>
    <span class="nb">{{nbEpisode}}</span>
    <button (click)="plusEpisode()"type="button" class="action">+</button>
</p>

  
  
