.card {
  color: black;
  width: 50%;

}
.bkg {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.filter-image {
  background-color: rgba(0,0,0,.6);
  width: 100%;
  height: 500px;
  position: absolute;
  background: linear-gradient(#ffffff4d, #000000c7);
}

.btnTitre {
  position: relative;
  align-content: space-between;
  font-size: 1rem;
}

.titreDetail {
  font-size: 2rem;
  margin-top: 1%;
}

.iconeBack {
  color: white;
  font-size: 2rem;
}




.movie-content {
  z-index:1;
  padding: 20px;
}

.video-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.video-responsive iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

