

<mat-form-field appearance="fill">
  <mat-label >
    <span class="material-icons">
    add_box
    </span>
    AJOUTER A MA LISTE</mat-label>
  <mat-select  >

    <mat-option *ngFor="let liste of listes"  >
      <button *ngIf="movie" (click)="ajoutSuiviFilm(liste.id, liste.name)" >{{liste.name}} {{utilisateur.id}} {{ movie.title }} </button>
      <button *ngIf="serie" (click)="ajoutSuiviSerie(liste.id, liste.name)" >{{liste.name}} {{utilisateur.id}} {{ serie.title }} </button>
    </mat-option>
  </mat-select>
</mat-form-field>

