.a_voir {
  color: #d6d684;
  background-color: #864486;
}
.vu {
  color: #bebe55;
  background-color: #056405;
}
.abandonne {
  color: #bebe55;
  background-color: #700a0a;
}

.en_cours{
  color: #bebe55;
  background-color: #1616b3;
}
