select.statut {
  color:white;
  background-color: red;
}

select.a_voir {
  color: #bebe55;
  background-color: #864486;
}
select.vu {
  color: #bebe55;
  background-color: #047a04;
}
select.abandonne {
  color: #bebe55;
  background-color: #700a0a;
}

select.en_cours{
  color: #bebe55;
  background-color: #1616b3;
}

.selection{
  color:red;
}

.noSelection{
  color:green;
  }

