<p>listesuivis works!</p>


  <h1>{{listeName}}</h1>
  <!-- <div [style.opacity]="getListOpacity()" class="row content pb-4 container-fluid"> -->

  <div [style.opacity]="getListOpacity()" class="row content pb-4 container-fluid">
    <div *ngFor="let suivi of listeSuivis" class="col-4">
        <div  class="card bg-dark text-white">
          <img alt="image de {{ suivi.preview.titre }}"
             [src]="printImageSrc(suivi.preview)">
             <div class="card-body serie">
             <!-- <div *ngIf="isSerie(suivi.preview)" class="card-body serie"> -->
              <!-- <div *ngIf="!isSerie(suivi.preview)" class="card-body film"> -->
                <h2> {{ suivi.preview.titre }} </h2>
                <p>{{getTypePreview(suivi.preview.typePreview)}}</p>

                <span class="material-icons">
                  system_update_alt
                </span>
                <span class="material-icons">
                    delete_outline
                </span>
                <app-statut [suivi]="suivi" ></app-statut>
              

                <rating [score]="suivi.noteUser" [origine]="origineRating"></rating>
                <p *ngIf="isSerie(suivi.preview)">Saison en cours : {{suivi.saisonEnCours}}</p>
                <p><em>Résumé : </em>{{ suivi.preview.overview | cuttextlong }}</p>
              </div>
        </div>
    </div>

  </div>






