<p>listesuivis works!</p>


  <h1>{{listeName}}</h1>

  <div [style.opacity]="getListOpacity()" class="row content pb-4 container-fluid">

    <div *ngFor="let suivi of listeSuivis" class="col-6">
      <div  class="card bg-dark text-white">
        <img alt="image de {{ suivi.preview.titre }}"
           [src]="printImageSrc(suivi.preview)">
           <div class="card-body serie">
             <h2> {{ suivi.preview.titre }} </h2>
            <p>{{suivi.statut}}</p>
            <p>{{suivi.noteUser}}</p>
            <p>{{suivi.preview.typePreview}}</p>
            <p *ngIf="isSerie(suivi.preview)">{{suivi.saisonEnCours}}</p>
           </div>
      </div>
    </div>
      
  </div>

 

