<h1>{{listeSuivis.name}}</h1>
<!-- <div [style.opacity]="getListOpacity()" class="row content pb-4 container-fluid"> -->

<div [style.opacity]="getListOpacity()" class="row content container-fluid">
  <div *ngFor="let suivi of listeSuivis.suivis" class="col-12 col-lg-6 col-xxl-4">
    <div class="card bg-dark text-white">
      <img alt="image de {{ suivi.preview.titre }}"
           [src]="printImageSrc(suivi.preview)">
      <div class="card-body"
           [class.serie]="isSerie(suivi.preview)"
           [class.film]="!isSerie(suivi.preview)">
        <h2> {{ suivi.preview.titre }} </h2>
        <div class='container d-flex sousTitre'>
          <p class='col-10 preview'>{{getTypePreview(suivi.preview.typePreview)}}</p>
          <button (click)="supprimer($event, suivi)" class="suppression col-2">
                      <span class="material-icons">
                        delete_outline
                    </span>
          </button>
        </div>
        <!--       compsant du statut (affichage et mise à jour)
        -->
        <app-statut [suivi]="suivi"></app-statut>
        <!--        affichage du score-->
        <div class="score">
          <rating [suivi]="suivi" [origine]="origineRating"></rating>
        </div>
        <!--        saisons / épisodes et leur mise à jour pour les séries-->
        <div *ngIf="isSerie(suivi.preview)" class="container">
          <div class="d-flex">
            <form (submit)="newSaison.value">
          <span>Saison en cours :<input type="number" id="newSaison" #newSaison [value]="suivi.saisonEnCours">

          <button (click)="updateSuiviSaisons(suivi,newSaison.value)"
                  title="Mise à jour de la saison en cours"><span class="material-icons">update</span>
          </button>
          </span>
            </form>

          </div>
          <form (submit)="newSaison.value">
            <p>Dernier épisode vu : {{suivi.dernierEpisodeVu}}</p>
            <input type="number" id="newEpisode" #newEpisode [value]="suivi.dernierEpisodeVu">
            <button (click)="updateSuiviEpisode(suivi,newEpisode.value)"
                    title="Mise à jour du dernier episode vu"><span class="material-icons">update</span>
            </button>
          </form>
          <!--permet de mettre à jour la base back end sur les saisons et episodes-->
          <button (click)="updateSaisonSerie(suivi,listeSuivis.id)"
                  title="Mise à jour des données des saisons"><span class="material-icons">system_update_alt</span>
          </button>
        </div>


        <p><em>Résumé : </em> {{ suivi.preview.overview | cuttextlong }}</p>
      </div>
    </div>
  </div>

</div>






