 //.ms-2{
 //    padding-left: 30px;
 //}
 mat-progress-bar {
   position: absolute;
   top: 60px;
   left: 0;
 }

 .mat-toolbar.mat-primary {
   background: #000000;
   color: #fff;
 }

 .sidebar{
   width:180px;
   padding: 10px 0 0 0;
 }

 .sidebarNav {
   width: 160px;
   vertical-align: center;
 }


 .content{
     padding: 20px;
 }


 div.listes{
   margin-top: 1em;
   justify-content: space-between;
   background-color:#212020;
   color: #ffffff;
 }

 a {
   color: white;
 }
