<mat-toolbar class="d-flex justify-content-between" color="primary">
  <h1>Ma Videothèque</h1>
  <div>
    <span *ngIf="!userService.isLogged()" class="me-2" [style.cursor]="'pointer'" routerLink="/login">Login</span>
    <span *ngIf="userService.isLogged()" class="ms-2 ">Hello {{utilisateur.firstname | titlecase}} 😎 </span>
    <span *ngIf="userService.isLogged()" class="ms-2 " [style.cursor]="'pointer'" (click)="logoutAction()">Logout</span>
  </div>
</mat-toolbar>
<mat-progress-bar color="accent" [style.opacity]="(loaderService.isLoadingObs | async)?'1':'0'" mode="indeterminate">
</mat-progress-bar>

<div class="d-flex">
  <!-- side bar -->
  <div class="sidebar">
    <ul class="list-group">
      <!-- <a class="list-group-item list-group-item-action" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}" href="">Home</a> -->
      <a routerLink="/films" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}" class="list-group-item list-group-item-action" href="">home</a>

      <a routerLink="/films" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}" class="list-group-item list-group-item-action" href="">Catalogue films</a>

      <a routerLink="/series" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}" class="list-group-item list-group-item-action" href="">Catalogue series</a>

    </ul>
    <nav class="nav flex-column">
      <div *ngIf="userService.isLogged()" class="me-2 container-fluid" [style.cursor]="'pointer'">
        <!--      <span>Mes Listes</span>-->
        <app-listesnavbar></app-listesnavbar>
      </div>
    </nav>


</div>


<div class="container-fluid">

  <!--COMPONENT <app-list></app-list> -->
  <!-- <app-list></app-list> -->
  <router-outlet></router-outlet>

</div>
</div>
