<p>list works!</p>
<h1>Les films à l'affiche</h1>
<input #inputElt (keyup)="searchMovies(inputElt.value)" placeholder="Rechercher..." type="text"
   class="form-control sticky-top">
<ul class="list-group">

   <li [routerLink]="['/detail', result.id, 'results']" *ngFor="let result of results"
      class="list-group-item">
      {{result.title}}
   </li>

</ul>


<h2>{{inputElt.value}}</h2>
<!-- LIST DES FILMS-->
<div [style.opacity]="getListOpacity()" class="row content col-sm-3">
    <h1>Catalogue de films</h1>
   <input #inputElt (keyup)="searchMovies(inputElt.value)" placeholder="Rechercher..." type="text"
      class="form-control sticky-top">
   <ul class="list-group">

      <li [routerLink]="['/detail', result.id, 'results']" *ngFor="let result of results"
         class="list-group-item">
         {{result.title}}
      </li>

   </ul>

   <div *ngFor="let movie of movies" class="col-6">
      <div [routerLink]="['/detail', movie.id, 'movies']" class="card">
         <img [src]="printImageSrc(movie)">
         <div class="card-body">
            <ratings [score]="movie.score/2"></ratings>
         </div>
      </div>
   </div>
</div>

<!-- LOADER-->
<div *ngIf="isLoading" class="d-flex justify-content-center align-items-center loader">
   <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
   </div>
</div>


<!-- Navigation bottom bar -->
<!-- <div class="fixed-bottom bg-info text-center p-2">
   <button (click)="loadNextMovies()" class="btn btn-light">Films suivants</button>
</div> -->