button.action{
    background: rgba(0,0,0,0.2);
    border-radius: 0.5em;

}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.lib{
  text-align: left;
  padding: 0;
}

.nb {
  padding-left: 1%;
  padding-right: 1%;
}

i {
  margin-top: 5px;
  vertical-align: middle;
}
