//div.listes{
//   margin-top: 1em;
//   justify-content: space-between;
//   background-color:#212020;
//   color: #ffffff;
// }

.videoListName {
  vertical-align: center;
}

.material-icons {
  position: relative;
  top: 6px; /*Change this to adjust the icon*/
}


a {
  color: white;
}
