 <!-- listes -->

<!--      <span>-->
<!--    <span class="material-icons">-->
        <!--      mode-->
        <!--    </span>-->
<!--        {{utilisateur.firstname}}, voici vos listes</span>-->

    <a *ngFor="let liste of listes" class="list-group-item list-group-item-action">

      <a (click)="onClickList(liste.id)" [routerLink]="['/listesuivis',liste.id]" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:
      true}" class="list-group-item list-group-item-action" href="">{{ liste.name }}</a>
    </a>
    <button (click)="addList()" class="primary">Ajouter une liste</button>





<!-- <a (click)="onClickList(liste.id)" [routerLink]="['/listesuivis',liste.id]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
  true}" class="list-group-item list-group-item-action" href="">{{ liste.name }} - {{liste.id}}</a> -->
